<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Edit page</title>

</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Enter name:       </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="secondName">Enter second name: </label>
        <input type="text" th:field="*{secondName}" id="secondName"/>
        <br/>
        <label for="number">Enter number:        </label>
        <input type="text" th:field="*{number}" id="number"/>
        <br/>
        <label for="mail">Enter e-mail:      </label>
        <input type="text" th:field="*{mail}" id="mail"/>
        <br/>
        <label for="userName">Enter user name:      </label>
        <input type="text" th:field="*{userName}" id="userName"/>
        <br/>
        <label for="password">Enter password:      </label>
        <input type="text" id="password"/>
        <br/>
        <label for="role">Enter role:</label>
        <select multiple class="form-control" id="role" name="role">
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
        </select>
        <br/>
        <input type="submit" value="Update"/>

</form>

<form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
</form>
</body>
</html>