<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User info</title>

</head>
<body>
<form th:object="${user}">
    <label for="name">name:       </label>
    <input type="text" readonly="readonly" th:field="*{name}" id="name"/>
    <br/>
    <label for="secondName">second name: </label>
    <input type="text" readonly="readonly" th:field="*{secondName}" id="secondName"/>
    <br/>
    <label for="number">number:        </label>
    <input type="text" readonly="readonly" th:field="*{number}" id="number"/>
    <br/>
    <label for="mail">e-mail:      </label>
    <input type="text"  readonly="readonly"th:field="*{mail}" id="mail"/>
    <br/>
    <label for="userName"> username:      </label>
    <input type="text" readonly="readonly" th:field="*{userName}" id="userName"/>
    <br/>
    <label for="password">password:      </label>
    <input type="text" readonly="readonly" th:field="*{password}" id="password"/>
    <br/>

    <tr th:each="count : ${user.roles}">
        <td th:text="${count.name}"></td>
        <td th:text=" "></td>
        <br/>
    </tr>
</form>

<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>